<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Board Name</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container-fluid" style="width: 75%">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Hub</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Board Name</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Bucket List App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-4">
                <div class="container-fluid" style="border: 2px solid black; padding: 10px">
                    <h1>Backlog</h1>
                    <div class="container-fluid" style ="width: 95%; border: 2px solid black">
                        <p>This is the first task in "Backlog"</p>
                    </div>
                    <div class="container-fluid" style ="width: 95%; border: 2px solid black">
                        <p>This is the second task in "Backlog"</p>
                    </div>
                    <div class="container-fluid" style ="width: 95%; border: 2px solid black">
                        <p>This is the third task in "Backlog"</p>
                    </div>
                </div>
            </div>
 
            <div class="col-lg-4">
                <div class="container-fluid" style="border: 2px solid black; padding: 10px">
                    <h1>In Progress</h1>
                    <div class="container-fluid" style ="width: 95%; border: 2px solid black">
                        <p>This is the first task in "In Progress"</p>
                    </div>
                    <div class="container-fluid" style ="width: 95%; border: 2px solid black">
                        <p>This is the second task in "In Progress"</p>
                    </div>
                    <div class="container-fluid" style ="width: 95%; border: 2px solid black">
                        <p>This is the third task in "In Progress"</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="container-fluid" style="border: 2px solid black; padding: 10px">
                    <h1>Done</h1>
                    <div class="container-fluid" style ="width: 95%; border: 2px solid black">
                        <p>This is the first task in "Done"</p>
                    </div>
                    <div class="container-fluid" style ="width: 95%; border: 2px solid black">
                        <p>This is the second task in "Done"</p>
                    </div>
                    <div class="container-fluid" style ="width: 95%; border: 2px solid black">
                        <p>This is the third task in "Done"</p>
                    </div>
                </div>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Brian Alfano, Sung Bae, Eric Lindemann, Artur</p>
        </footer>
 
    </div>
</body>
 
</html>

